{% extends "layout.html" %}
{% block body %}

{% if session['oauth_token'] %}

<form action="/password/change" method="post">
    <h3> Enter the required information below. </h3>

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    <div class="input-field">
        <label class="oldPassword">Current Password</label>
        <div class="input-group">
            <input type="password" name="oldPassword" placeholder="Current Password" required autofocus
                   {% if passwordPattern is defined and passwordPattern is not none %} pattern="{{passwordPattern}}"
                   {% endif %} />
            <label class="input-addon">
                <input type="checkbox" style="display:none" onclick="toggleSecret(event, this)">
                <span><i class="fa fa-fw fa-eye"></i></span>
            </label>
        </div>
    </div>

    <div class="input-field">
        <label class="password">New Password</label>
        <div class="input-group">
            <input type="password" name="password" id="password" placeholder="New Password" required autofocus
                   {% if passwordPattern is defined and passwordPattern is not none %} pattern="{{passwordPattern}}"
                   {% endif %} />
            <label class="input-addon">
                <input type="checkbox" style="display:none" onclick="toggleSecret(event, this)">
                <span><i class="fa fa-fw fa-eye"></i></span>
            </label>
        </div>
    </div>

    <div class="input-field">
        <label class="confirmPassword">Confirm New Password</label>
        <div class="input-group">
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm New Password" required autofocus
                   {% if passwordPattern is defined and passwordPattern is not none %} pattern="{{passwordPattern}}"
                   {% endif %} />
            <label class="input-addon">
                <input type="checkbox" style="display:none" onclick="toggleSecret(event, this)">
                <span><i class="fa fa-fw fa-eye"></i></span>
            </label>
        </div>
    </div>

    <div class="input-group">
        <button class="button" type="submit">Save</button>
    </div>
</form>

<div class="input-group">
    <p><a href="/">Back to home page</a></p>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<script src="{{url_for('static', filename='passwords.js')}}"></script>
{% endif %}

{% endblock %}
